.websiteContainer {
  place-content: center flex;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: 0px;
  height: min-content;
  overflow: hidden;
  min-height: 100%;
  width: auto;
  padding: 80px;
  position: relative;
}

.contentContainer {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  gap: 40px;
  height: min-content;
  max-width: 100%;
  padding: 0px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 810px) and (max-width: 999px) {
  .websiteContainer {
    padding: 40px;
  }
}

@media (max-width: 809px) {
  .websiteContainer {
    padding: 20px;
  }
}

@media (max-width: 756px) {
  .contentContainer {
    gap: 20px;
  }
}
