html {
  font-family: "Rubik", arial, serif;
}

body {
  margin: 0;
}

nav {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding: 24px;
  width: calc(100vw - 48px);
}

footer {
  align-items: center;
  color: rgba(167, 169, 172, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
}

.text-block {
  display: flex;
  flex-direction: column;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: calc(50vh - 92px - 89px);
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column-reverse;
    padding: 0 32px;
    margin-top: calc(50vh - 165px - 89px);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(22, 25, 29);
  }
}
