.nav {
  flex: 0 0 auto;
  height: auto;
  position: relative;
  width: 100%;
}

.navContainer {
  place-content: flex-start;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  height: max-content;
  overflow: visible;
  padding: 0px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.navTitle {
  display: flex;
  gap: 20px;
  height: 50px;
  justify-content: center;
}

.avatarLinkDiv {
  flex: 0 0 auto;
  height: auto;
  position: relative;
  width: auto;
}

.avatarLink {
  border-radius: 24px;
  box-sizing: border-box;
  display: block;
  height: 48px;
  overflow: visible;
  position: relative;
  text-decoration: none;
  width: 48px;

  transition: border-radius 0.2s ease-in-out;
}

.avatarLink:hover {
  border-radius: 8px;
}

.avatarDiv {
  position: absolute;
  pointer-events: none;
  user-select: none;
  border-radius: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.avatarImage {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}

.titleDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.menuContainer {
  display: none;
}

.menuButton {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: 0;
  border-radius: 10px;
  user-select: none;
  background-color: var(--background);
  color: var(--primary);
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  font-size: 1rem;
}

.menuButton:hover {
  background-color: var(--secondaryBackground);
}

.menuButton.selected {
  background-color: var(--primary);
  color: var(--background);
}

.floatingWindow {
  background-color: var(--background);
  padding: 0.5rem;
  z-index: 10;
  position: absolute;
  margin-top: 0.5rem;
  right: 0;
  transform-origin: top right;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.floatingWindow a {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 10px;
  user-select: none;
  color: var(--primary);
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.floatingWindow a:hover {
  background-color: var(--secondaryBackground);
}

.floatingWindow a.selected {
  color: var(--background);
  background-color: var(--primary);
}

.animateTitle {
  opacity: 1;
  animation-name: slide;
  animation-duration: 250ms;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translate(0, -16px);
  }
}

@media (max-width: 535px) {
  .navContainer {
    align-items: center;
  }

  .menuContainer {
    display: block;
  }
}

@media (max-width: 428px) {
  .titleDiv {
    display: none;
  }
}
