.experienceList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  gap: 16px;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.experienceList:hover .experienceItem {
  opacity: 0.6;
}

.experienceItem {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 8px;
  border-radius: 8px;

  transition: opacity 0.2s ease-in-out;
}

.experienceList:hover .experienceItem:hover {
  opacity: 1;
  text-decoration: none;
}

.leftBlock {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
}

.logo {
  border-radius: 25px;
  object-fit: contain;
}

.textDiv {
  display: flex;
  flex-flow: column nowrap;
}

.secondary {
  color: var(--secondary);
}

.rightBlock {
  display: flex;
  align-items: flex-start;
}
