.photoDiv {
  border-radius: 8px;
  flex: 0 0 auto;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 100%;
  transition: scale 0.5s;
  will-change: transform;
}

.photoDiv:hover {
  scale: 1.05;
}

.photoImage {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}

