.project {
  width: 100%;
  background-color: #eee;
  padding-bottom: 1rem;
  border-radius: 8px;
}

.imageDiv {
  width: 100%;
  aspect-ratio: 16/10;
  background-color: #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.textDiv {
  margin: 0 1rem;
}

.tagsWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem 0.5rem;
  margin-top: 0.5rem;
}

p.tag {
  border-radius: 8px;
  padding: 0 8px;
  border: 1px solid #282C34;
  font-size: 0.85rem;
}

@media (prefers-color-scheme: dark) {
  .project {
    background-color: #1f2228;
  }

  .imageDiv {
    background-color: #2a2e36;
  }

  p.tag {
    border-color: #d5dae5;
  }
}