.projectsContainer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.projectsContainer:hover .project {
  opacity: 0.6;
}

.project {
  width: 100%;
  height: min-content;
  background-color: var(--background);
  border-radius: 8px;

  transition: opacity 0.2s ease-in-out;
}

.project a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.projectsContainer:hover .project:hover {
  opacity: 1;
}

.imageDiv {
  width: 40%;
  aspect-ratio: 16/10;
  background-color: var(--background);
  border-radius: 8px;
  overflow: hidden;
}

.projectImage {
  width: 100%;
  height: auto;
}

.textDiv {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  max-width: 60%;
  padding: 4px 16px;
  box-sizing: border-box;
  gap: 4px;
}

.titleDiv {
  display: flex;
  align-items: center;
}

.secondaryText {
  color: var(--secondary);
}

@media (max-width: 600px) {
  .project a {
    flex-flow: column nowrap;
    margin-bottom: 32px;
  }

  .imageDiv {
    width: 100%;
    margin-bottom: 16px;
  }

  .textDiv {
    max-width: 100%;
    padding: 0;
  }
}
